{% extends "base.html" %}
{% load static %}

{% block page_header %}Список всех объявлений{% endblock %}
{% block content %}
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ announcement.picture.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ announcement.title }}</h5>
            <p class="card-text">{{ announcement.text }}</p>
           {% if announcement.price %}
            <p class="h6">Цена: {{ announcement.price }}</p>
            {% endif %}
            <p class="card-text"><small class="text-muted">{{ announcement.publicated_at }}</small></p>
          </div>
          <div>
            <a type="button" class="btn btn-outline-success">Одобрить</a>
            <a type="button" class="btn btn-outline-danger">Отклонить</a>
          </div>
        </div>
      </div>


    </div>
{% endblock content %}