{% load static %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for announcement in announcements %}
      <div class="col">
        <div class="card">
          <img src="{{ announcement.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">{{ announcement.title }}</h3>
          </div>
            {% if detail %}
          <a href="{% url 'annoncement:announcement-detail' announcement.id %}" type="button" class="btn btn-outline-primary ml-0 pl-0 mt-auto pt-auto">Детальный просмотр</a>
            {% endif %}
            {% if approve %}
          <a href="{% url 'annoncement:announcement-review-detail' announcement.id %}" type="button" class="btn btn-outline-primary ml-0 pl-0 mt-auto pt-auto">Просмотр</a>
            {% endif %}
        </div>
      </div>

    {% endfor %}
</div>
