{% extends "base.html" %}
{% load static %}

{% block page_header %}Профиль{% endblock %}

{% block content %}
     {% include "partial/search_form.html" %}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ user_obj.first_name }}</h5>
        <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
        <p class="card-text">Номер телефона: {{ user_obj.phone_number }}</p>
          {% if user_obj == user %}
        <a href="{% url 'accounts:update' %}" class="btn btn-primary">Редактировать</a>
          {% endif %}
      </div>
    {% include 'partial/announcement_list.html' with announcements=announcements detail=True%}
        <div class="container d-flex align-content-center flex-wrap my-4">
        {% if is_paginated %}
            {% include 'partial/paginate.html' %}
        {% endif %}
    </div>
    </div>
{% endblock content %}